.title {
  grid-area: title;
}

.content {
  grid-area: content;
}

.list {
  grid-area: list;
}

.footer {
  grid-area: footer;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "title title"
  "content list"
  "footer .";
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

i {
  font-size: 24px;
}

.description {
  /*max-width: 45%;*/
  width: auto;
  text-align: left;
  font-size: 20px;
  margin: 5px;
}

.title {
  place-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
}
.api-title {
  text-align: center;
  width: 100%;
  background-color: #444444;
  border-radius: 3px;
  margin: 5px;
}

.api-list {
  min-width: 40%;
}

.list {
  display: flex;
  flex-flow: column nowrap;
}

.list-title {
  text-align: center;
  width: auto;
  background-color: #444444;
  border-radius: 3px;
  margin: 5px;
}

.api-list-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 5px;
}

.api-content {
  margin: 2.5px;
  font-family: 'Source Code Pro', monospace;
  width: 50%;
  background-color: #444444;
  border-radius: 3px;
  padding: 3px;
}

.footer {
  width: 100%;
  margin: 5px;
  font-size: 10px;
  color: grey;
}

@media only screen and (max-width: 800px){
  .main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "title"
    "content"
    "list"
    "footer";
  }
  .description {
    font-size: 16px;
  }
  .api-content {
    font-size: 14px;
  }

}
