.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 45%;

}
