body {
  font-family: 'Ubuntu', sans-serif;
  --background-color: #111111;
  --foreground-color: #06224a;
  --font-color: #ffffff;
  --link-color: #fd008c;
  --card-background-color: #2e2f7e;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.hero {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("dream2.jpg");
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  margin: 5px;
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: White;
  text-shadow: 2px 2px black;
  font-size: 50px;
  font-weight: bolder;
}

.main {
  background-color: var(--foreground-color);
  color: var(--font-color);
  max-width: 1200px;
  height: auto;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

a {
  color: var(--link-color);
}

@media only screen and (max-width: 800px){
  .hero-image {
    height: 150px;
    background-image: url("dream2sm.jpg");
    max-width: 100%;
  }
  .hero-text {
    font-size: 30px;
  }

}
