<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="icon" href="{{url_for('static',filename='favicon.png')}}"
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    {% block css_layout %}{% endblock %}
    {% block title %}{% endblock %}


  </head>
  <body>
    {% block content %}

    {% endblock %}
  {% include "footer.html" %}
  </body>
</html>
