{% extends "base.html" %}

{% block css_layout %}
<link rel="stylesheet" href="{{url_for('static',filename='index-layout.css')}}">
{% endblock %}

{% block title %}
<title>Multiverse Bridge</title>
{% endblock %}

{% block content %}
<div class="main">
  <div class="title">
    <div class="hero">
      <div class="hero-image">
        <div class="hero-text">
          Multiverse Bridge API
        </div>
      </div>
    </div>
  </div>

    <div class="content">
      <div class="description">
        <p>The Multiverse Bridge is a Cardsphere community-built project aimed to help translate <a href="https://www.cardsphere.com" target="_blank">Cardsphere</a> card and set data to other platforms.</p>
        <p>The project leverages existing tools <a href="https://www.mtgjson.com" target="_blank">MTGJSON</a> and <a href="https://www.scryfall.com" target="_blank">Scryfall</a> to provide the data to enable consumers to translate their Cardsphere collection data to another platform that supports MTGJSON or Scryfall identifiers.</p>

      </div>
      <div class="api-title"><h2>Endpoints</h2></div>
      <div class="api-list-content">
          <div class="api-content">
              <h3>Cache</h3>
              <ul>
                <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                  <li>
                    <a>
                      <i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                      </a>
                      /cache
                    </li>
                    <div class="list-info" x-show="open">
                      <li>Returns information about the current state of the cache. Card and pricing data is cached and refreshed once per day.</li>
                    </div>
                </div>
              </ul>

            <h3>Sets</h3>
            <ul>
                <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                    <li>
                      <a>
                        <i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                      </a>
                      /sets
                    </li>
                    <div class="list-info" x-show="open">
                      <li>Returns a list of all Cardsphere sets including that set's MTGJSON equivalent code value.</li>
                    </div>
                  </div>

                  <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                    <li>
                    <a><i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                    </a>
                    /sets/cs/{cs_id}
                  </li>
                  <div class="list-info" x-show="open">
                    <li>Returns the Cardsphere set specified by the cs_id and a list of the cards in the set.</li>
                  </div>
                  </div>

                  <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                    <li>
                      <a><i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                      </a>
                      /sets/mtgjson/{mtgjson_code}
                    </li>
                    <div class="list-info" x-show="open">
                      <li>Returns the Cardsphere set specified by the MTGJSON set code and a list of the cards in the set.</li>
                    </div>
                  </div>
            </ul>
          </div>

          <div class="api-content">
            <h3>Cards</h3>
            <ul>

              <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                <li>
                <a><i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                </a>
                /cards
              </li>
              <div class="list-info" x-show="open">
                <li>Returns the IDs for all cards in the database as well as the current state of the cache.</li>
              </div>
              </div>

              <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                <li>
                <a><i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                </a>
                /cards/cs/{cs_id}
              </li>
              <div class="list-info" x-show="open">
                <li>Returns the Cardsphere card details specified by the cs_id.</li>
              </div>
              </div>

              <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                <li>
                <a><i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                </a>
                /cards/mtgjson/{mtgjson_code}
              </li>
              <div class="list-info" x-show="open">
                <li>Returns the Cardsphere card details specified by the MTGJSON Id.</li>
              </div>
              </div>

              <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                <li>
                <a><i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                </a>
                /cards/scryfall/{scryfall_id}
              </li>
              <div class="list-info" x-show="open">
                <li>Returns the Cardsphere card details specified by the Scryfall ID.</li>
              </div>
              </div>

              <div class="list-item" x-data="{ open: false }" @click="open = ! open">
                <li>
                <a><i class="las la-plus" x-show="!open"></i></a><a><i class="las la-minus" x-show="open"></i>
                </a>
                /cards/search/{string}
              </li>
              <div class="list-info" x-show="open">
                <li>Returns the Cardsphere card details of the cards that best match the provided query parameters.</li>
              </div>
              </div>

            </ul>
          </div>
        </div>
    </div>

    <div class="list">
      <div class="list-title"><h2>More Info</h2></div>
      <div class="list-content">
        <ul>
          <li>Documentation at Github repo <a href="https://github.com/pauperbattlebox/mvb-api" target="_blank"><i class="lab la-github"></i></a></li>
          <li>Postman collection <a href="{{url_for('core.postman')}}"><i class="las la-download"></i></a></li>
          <li>Chat with us in discord <a href="https://discord.gg/ZHWKVA5KF6" target="_blank"><i class="lab la-discord"></i></a></li>
          <li>Support this project <a href="https://www.buymeacoffee.com/mvbridge" target="_blank"><i class="las la-coffee"></i></a></li>
          <li>Cardsphere <a href="https://www.cardsphere.com" target="_blank"><i class="las la-external-link-alt"></i></a></li>
          <li>Scryfall <a href="https://www.scryfall.com" target="_blank"><i class="las la-external-link-alt"></i></a></li>
          <li>MTGJSON <a href="https://www.mtgjson.com" target="_blank"><i class="las la-external-link-alt"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="footer">
      <p>
          Magic: The Gathering is trademarked by Wizards of the Coast LLC. © Wizards. MultivereseBridge.com is neither affiliated with nor endorsed by Hasbro or Wizards of the Coast.
      </p>
      <p>
        This website does not gather or track your private information.
    </p>
    </div>

</div>
{% endblock %}
