{% extends "base.html" %}

{% block css_layout %}
<link rel="stylesheet" href="{{url_for('static',filename='index-layout.css')}}">
{% endblock %}

{% block title %}
<title>Multiverse Bridge</title>
{% endblock %}

{% block content %}
<div class="main">
  <div class="title">
    <div class="hero">
      <div class="hero-image">
        <div class="hero-text">
          Multiverse Bridge API
        </div>
      </div>
    </div>
  </div>

    <div class="content">
      <div class="description">
        <p>The Multiverse Bridge is a Cardsphere community-built project aimed to help translate <a href="https://www.cardsphere.com" target="_blank">Cardsphere</a> card and set data to other platforms.</p>
        <p>The project leverages existing tools <a href="https://www.mtgjson.com" target="_blank">MTGJSON</a> and <a href="https://www.scryfall.com" target="_blank">Scryfall</a> to provide the data to enable consumers to translate their Cardsphere collection data to another platform that supports MTGJSON or Scryfall identifiers.</p>

      </div>
      <div class="api-title"><h2>Endpoints</h2></div>
      <div class="api-list-content">
          <div class="api-content">
              <h3>Cache</h3>
              <ul>
                <li>GET /cache</li>
              </ul>

            <h3>Sets</h3>
            <ul>
              <li>GET /sets</li>
              <li>GET /sets/{cs_id}</li>
              <li>GET /sets/mtgjson/{mtgjson_code}</li>
            </ul>
          </div>

          <div class="api-content">
            <h3>Cards</h3>
            <ul>
              <li>GET /cards/all</li>
              <li>GET /cards/{cs_id}</li>
              <li>GET /cards/mtgjson/{mtgjson_code}</li>
              <li>GET /cards/mtgjsonid/{mtgjson_id}</li>
              <li>GET /cards/scryfallid/{scryfall_id}</li>
              <li>GET /cards/search/{string}</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="list">
      <div class="list-title"><h2>More Info</h2></div>
      <div class="list-content">
        <ul>
          <li>Documentation at Github repo: <a href="https://github.com/pauperbattlebox/mvb-api" target="_blank"><i class="lab la-github"></i></a></li>
          <li>Postman collection: <i class="las la-file-code"></i></li>
          <li>Chat with us in discord: <i class="lab la-discord"></i></li>
          <li>Support this project: <a href="https://www.buymeacoffee.com/mvbridge" target="_blank"><i class="las la-coffee"></i></a></li>
        </ul>
        <ul>
          <li>Is this free? YES!</li>
          <li><br></li>
          <li>Who built it? Yer Mum</li>
          <li><br></li>
          <li>Why can't I find a certain card? This API uses Cardsphere as its dataset, so only cards which are indexed by Cardsphere are available.</li>
          <li><br></li>
          <li>Can I make a suggestion? Sure, find us in discord, or create an Issue on the repo.</li>
        </ul>
      </div>
    </div>

    <div class="footer">
      <p>
          Magic: The Gathering is trademarked by Wizards of the Coast LLC. © Wizards. MultivereseBridge.com is neither affiliated with nor endorsed by Hasbro or Wizards of the Coast.
      </p>
      <p>
        This website does not gather or track your private information.
    </p>
    </div>

</div>
{% endblock %}
